<div class="row">
  <div id="formularioIngreso" class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;">
		<div class="row cuerpo">
			<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<font style="font-weight: bold; font-size: 17pt;">
					<span style="color: #626262;" class="fas fa-user-edit">&nbsp;&nbsp;Reserva</span>
				</font>
		  </div>
			<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label style="font-weight: bold; color: gray;">DNI</label>
				<input id="dniFomularioIngreso" class="form-control" type="text" value="">
			</div>
			<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label style="font-weight: bold; color: gray;">Nombre</label>
				<input id="nombreFomularioIngreso" class="form-control" type="text" value="">
			</div>
			<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label style="font-weight: bold; color: gray;">Correo electrónico</label>
				<input id="emailFomularioIngreso" class="form-control input-email" type="text" value="">
			</div>
			<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label style="font-weight: bold; color: gray;">Celular</label>
				<input id="celularFomularioIngreso" class="form-control input-number" type="number" step="1" min="0" value="">
			</div>
			<div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label style="font-weight: bold; color: gray;">Fecha</label>
				<input disabled id="fechaFomularioIngreso" class="form-control input-email" type="text" value="" onfocus="blur();">
			</div>
      <div style="margin-bottom: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <label style="font-weight: bold; color: gray;">Piso - Rango</label>
        <select id="rangoFomularioIngreso" class="form-control">

        </select>
      </div>
			<div style="margin-bottom: 10pt; margin-top: 10pt; text-align: left;" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<button id="enviarFormularioReserva" style="display: block;" type="button" class="form-control btn btn-secondary">Enviar</button>
			</div>
		</div>
	</div>
	<!-- <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<hr class="hr-separador">
	</div> -->
	<div id="datosInformativos" class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12" style="margin-top: 10pt; text-align: left;  border-left: 1px solid #e2e2e2;">
		<div id="rowDatosInformativos" class="row cuerpo">

		</div>
	</div>
</div>
