<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: left;">
    <img src ="view/img/equans-logo-slogan.png" style="height: 20px; margin-top: 10px;">
  </div>
</div>
